<div>
  <h1>Data Binding: Interpolation</h1>
  <app-interpolation></app-interpolation>
  <hr>
  <h1>Data Binding: AttributeBinding</h1>
  <app-attribute></app-attribute>
  <hr>
  <h1>Data Binding: Property Binding</h1>
  <app-greeterprop [message]="message" [name]="'Subramanian'" ></app-greeterprop>
  <app-greeterprop [message]="'Welcome'" [name]="'ram'"  ></app-greeterprop>
  <app-greeterprop [message]="'Greeter'" [name]="'karthik'"  ></app-greeterprop>
  <!-- <h1>Data Binding: Property Binding : Advanced</h1>
  <app-todo-app></app-todo-app> -->
  <hr>
  <h1>Data Binding: Event Binding</h1>
 <app-dom-event-binding></app-dom-event-binding>
 <hr>
 <h1>Data Binding: Custom Events-Child to Parent Communication</h1>
 <app-parent></app-parent>
</div>